@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


.main_container {
  padding-left: 16px;
  padding-right: 16px;
}

* {
  box-sizing: border-box;
  
}

.animate-reveal {
    animation: .2s reveal;
}

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(-2px);
        transform: scale(0.1);
    }
    50% {
        opacity: .5;
        transform: translateY(-2px);
        transform: scale(0.1);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        transform: scale(0.3);
    }
}
.animate-exit_reveal {
    animation: .2s exit_reveal;
}

@keyframes exit_reveal {
    0% {
        opacity: 1;
        transform: translateY(0px);
        transform: scale(0.3);
    }
    50% {
        opacity: .5;
        transform: translateY(2px);
        transform: scale(0.1);
    }
    100% {
        opacity: 0;
        transform: translateY(0px);
        transform: scale(0);
    }
}